.sign-up-container {
    margin: 50px auto;
    /* margin-top: 30px; */
    background-color: #F0F1F3;
    width: 75%;
    height: 100%;
    border-radius: 20px;
}


.image-left {
    margin: auto;
    width: 55%;
    height: auto;
}

.radio-apply {
    float: left;
    clear: none;
}


.radio-apply label {
    word-wrap: break-word;
    font-size: 12px;
    font-weight: normal;
}

.radio-inline {
    font-weight: normal;
}

.radio-inline input {
    margin-right: 10px;
}

.form-right label {
    margin-top: 20px;
    font-weight: bold;
}

.container label {
    margin-top: 0px;

    font-weight: normal;
}


.image-left img {
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.label-bold {
    font-weight: bold;
}

.input-row {
    padding-left: 20px;
}


.inputrow-item {
    width: 47%;
}

.inputrow-item input#last {
    margin-left: 10px;
}

.form-right {
    width: 45%;
    padding: 30px 20px;
    padding-top: 30px;
    border-left: 2px solid #b3b3b3;

}

.form-right h4 {
    font-weight: bold;
    font-size: 25px;
}


.form-right input[type=text] {
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #e0dfdf;
    width: 100%;
    -webkit-box-shadow: 0px 8px 21px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 8px 21px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 8px 21px -15px rgba(0, 0, 0, 0.75);
}

.form-right input[type=password] {
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #e0dfdf;
    width: 100%;
    -webkit-box-shadow: 0px 8px 21px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 8px 21px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 8px 21px -15px rgba(0, 0, 0, 0.75);
}

.form-right label {
    word-wrap: break-word;
    font-size: 12px;
    /* font-weight: bold; */
}

.custom-checkbox label #text {
    padding: 0;
    max-width: 100%;
    word-wrap: break-word;
}

.g-recaptcha {
    margin-top: 30px;
}

.button-create-account {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    border: none;
    background-color: #f25456;
    color: #ffff;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 15px;
}

.sign-in-container {

    margin: 100px auto;
    background-color: #F8F9FA;
    width: 70%;
    height: 100%;
    border-radius: 20px;

    -webkit-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.38);
    box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.38);

}

.inimage-left {
    width: auto;
    height: 55%;
}

.inimage-left img {
    width: auto;
    height: 400px;
    padding: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.shadows {
    padding-top: 40px;
    border-left: 2px solid #EDEDED;
    padding-bottom: 20px;
}

.forpas {
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    width: 100%;
    text-align: right;
}

p.register {
    font-weight: bold;
    padding-top: 20px;
    font-size: 12px;
    width: 100%;
    text-align: center;
}

p strong {
    font-weight: bold;
    color: #F25456;
}